.nav-list {
    width: 30%;
    display: flex;
    align-items: right;
    float: right;
    word-spacing: 30px;
}
.logo {
    float: left;
}
.container{
    width: 100%;
    position:absolute;
    top: 50px;
    height: 100px;
    color: white;
    font-size: 35px;
    padding-top: 50px;
    padding-left: 150px;
    font-family: 'bold';
    background-color: blue;
}
.logo2{
    padding-top: 170px;
    float: right;
    border-radius: 10px;
    width: 50%;
}
.insc{
    padding-top: 210px;
    padding-left: 250px;
    font-size: 30px;
    color: rgb(80, 204, 245);
}
.btnc{
    border-radius: 20px;
    width: 15%;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%;
    }
  }