<div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <div>
        <div class="logo">
            <img [src]="myimage">
        </div>
        <ul class="nav-list">
            About
            Services
            Insights
            Contact
        </ul>
    </div>
</div>
<div class="container">Services
    <div class="logo2">
        <img [src]="myimage2">
    </div>
</div>
<div class="insc">
    <h1>01</h1>
    <h2 style="color: black;">Digital Workplace</h2>
    <h6 style="color: black;font-family:'Times New Roman', Times, serif">The employee experience--the<br>
    perceptions and feelings caused by<br>
    complex interactions with colleagues,<br>
    systems and processes--has a powerful<br>
    effect on performance that is taking root<br>
    in the digital era.</h6>
    <button class="btnc" type="button">KNOW MORE</button>
</div>
</div>


